@model IEnumerable<EntityLayer.Concrete.Comment>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="comment-top">
    <h4>Yorumlar</h4>
    <div class="media">
        <img src="~/web/images/t1.jpg" alt="" class="img-fluid" />
        <div class="media-body">
            <h5 class="mt-0"></h5>
            <p>
                Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac cursus eros.
                Cras a ornare elit.
            </p>
        </div>
    </div>
</div>
