<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="https://twitter.com/alicanycel1992">
                <i class="fab fa-twitter"></i>
                <span class="count">317K</span> Twitter Takipçisi
            </a>
        </li>
        <li>
            <a class="facebook" href="https://www.facebook.com/alicanyucel06">
                <i class="fab fa-facebook-f"></i>
                <span class="count">218k</span> Facebook Takipçisi
            </a>
        </li>


    </ul>
</div>
