<div class="tech-btm widget_social">
    <h4>Bağlantı Kurun</h4>
    <ul>

        <li>
            <a class="twitter" href="https://mobile.twitter.com/alicanycel1992">
                <i class="fab fa-twitter"></i>
                <span class="count">950K</span> Twitter Takipçisi
            </a>
        </li>
        <li>
            <a class="facebook" href="https://www.facebook.com/alicanyucel06">
                <i class="fab fa-facebook-f"></i>
                <span class="count">950K</span>Facebook Takipçisi
            </a>
        </li>
    </ul>
</div>