@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Merhaba.Ben Ali Can Yücel.Selçuk Üniversitesi Bilgisayar Mühendisliği Bölümünden Mezunum. .Net Core Teknolojileri üzerinde Kendimi Geliştirmeye Çalışıyorum.C# Programlama Dili Kullanarak Web Api,Web Servis, .Net Core Mvc,Masaüstü Projeler Geliştiriyorum.Database Sistemi Olarak Mssql Kullanıyorum.</p>
                <div class="read">
                    <a href="single.html" class="btn btn-primary read-m">DEVAMINI OKU</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    <h3>Geçmiş Gönderiler</h3>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/web/images/4.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i>@DateTime.Now.Year
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/web/images/5.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> @DateTime.Now.Year
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="blog-grids row mb-3">
                        <div class="col-md-5 blog-grid-left">
                            <a href="single.html">
                                <img src="~/web/images/6.jpg" class="card-img-top img-fluid" alt="">
                            </a>
                        </div>
                        <div class="col-md-7 blog-grid-right">

                            <h5>
                                <a href="single.html">Pellentesque dui, non felis. Maecenas male non felis </a>
                            </h5>
                            <div class="sub-meta">
                                <span>
                                    <i class="far fa-clock"></i> @DateTime.Now.Year
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Haber bültenimize kaydolun</h2>
                <div class="subscribe-main text-left">
                    <div class="subscribe-form">
                        <form action="#" method="post" class="subscribe_form">
                            <input class="form-control" type="email" placeholder="Email Adresinizi Giriniz" required="">
                            <button type="submit" class="btn btn-primary submit">Gönder</button>
                        </form>
                        <div class="clearfix"> </div>
                    </div>
                    <p>Gizliliğinize önem veriyoruz.</p>
                </div>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
        </div>
        <div class="w3layouts-agile-copyrightbottom">
            <p>
                © 2022 ALİ CAN YÜCEL
            </p>

        </div>

    </div>
</footer>