
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><center>İletişim</center></h1>
<p>0532 446 08 43 - Aydın Yücel</p>
<p>0551 552 34 77 - Eser Yücel</p>
<p>Haritadan Bulun</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.4989915419515!2d32.90503241488218!3d40.04196398627131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x408209ce7109d193%3A0xb3f13c704c70c7ec!2zUFVSU0FLTEFSIE9UTyBLVVJUQVJNQSBPVE9OT03EsCDDh0VLxLBDxLAgLyBBTktBUkEgRVNCIEhBVkFMxLBNQU5JIE9UTyDDh0VLxLBDxLAgS1VSVEFSSUNJ!5e0!3m2!1str!2str!4v1667381616754!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
