@{
    ViewData["Title"] = "Ali Can Yücel";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <center><p><font color="dark">Ekşi Sözlük .Net Core Mvc 5.0 Projesi</p></font></center>
</div>
