@{
    ViewData["Title"] = "Hakkımda";
}
<h1>@ViewData["Title"]</h1>
<p>Merhabalar.Ben Ali Can Yücel.Selçuk Üniversitesi Bilgisayar Mühendisliği Mezunuyum.Masaüstü Projeler,Web Api,Web Servisler,Net Core Mvc Teknolojileri Üzerinde Kendimi Yetiştirmeye Çalışıyorum.</p>
