
@{
    ViewData["Title"] = "Calışanlarımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h1>Çalışanlarımız</h1></center>

<table class="table table-borderless">
     <tr>
         <th>Id</th>
         <th>Full Name</th>
         <th>Department</th>
     </tr>
     <tr>
         <td>1</td>
         <td>Ali Can Yücel</td>
         <td>Yazılım Geliştirme</td>
     </tr>
     <tr>
         <td>2</td>
         <td>Yağmur Bayyar</td>
         <td>İdari Birimler</td>
     </tr>
</table>

