
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">
	
<link href="~/web/css/contact.css" rel='stylesheet' type='text/css' />

<body>
	<section class="main-content-w3layouts-agileits">

		<h3 class="tittle">Bize Ulaşın</h3>
		<p class="sub text-center">Düşünceleriniz Bizim İçin Çok Değerlidir.</p>
		<div class="contact-map inner-sec">

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.4844264392!2d32.906642!3d40.042289100000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4082086f4c917837%3A0x3cc92c34c3e5324d!2zRmF0aWgsIEfDvMOnbMO8IFNrLiBObzoxMiwgMDYxNDUgUHVyc2FrbGFyL0Fua2FyYQ!5e0!3m2!1str!2str!4v1668002125373!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
			    class="map" style="border:0" allowfullscreen=""></iframe>
		</div>
		<div class="ad-inf-sec bg-light">
			<div class="container">
				<div class="address row">

					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Adres</h6>
								<p> Ankara,Türkiye

								</p>
							</div>
						</div>

					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Email</h6>
								<p>Email :
									<a href="mailto:yucelalican@hotmail.com">yucelalican@hotmail.com</a>

								</p>
							</div>

						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Mobil</h6>
								<p>0541 692 36 75</p>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact_grid_right">
				<form action="#" method="post">
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group">
								<label for="validationCustom01 my-2">İsim Soyisim</label>
								<input class="form-control" type="text" name="ContactUserName" placeholder="İsim" required="">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Email</label>
								<input class="form-control" type="email" name="ContactMail" placeholder="Email" required="">
							</div>
							<div class="form-group">
								<label for="validationCustom03 my-2">Konu</label>
								<input class="form-control" type="text" name="ContactSubject" placeholder="Konu" required="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group">
								<label for="textarea">Mesaj</label>
								<textarea id="textarea" name="ContactMessage" placeholder="Mesajınız"></textarea>
							</div>
							<input class="form-control" type="submit"  value="Gönder">

						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>
